main {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
}

table.club {
    border: solid 1px gray;
    display: inline-block;
}

table.club  td {
    border: solid 1px gray;
}
