/* h1 {
    white-space: nowrap;
    display: inline-block;
    padding: 0.2em 0.5em;
    margin: 0.4em 0 1em 0;
    font-weight: bold;
    color: #6091d3;
    background: #FFF;
    border: solid 3px #6091d3;
    border-radius: 10px;
} */

/* body {
   background-image: url("../img/b054.jpg"); 
}  */

main {
    width: 95%;
    margin: auto;
}
.logout_btn{
    position: fixed; /* 要素の位置を固定する */
    top: 8px; /* 基準の位置を画面の一番下に指定する */
    right: 8px; /* 基準の位置を画面の一番右に指定する */
}

.null{
    width: 8em;
}

.login_page{
    width: auto;
}
.login_page form{
    margin-left: 5%;
    width: 240px;
}

table {
    table-layout: fixed;
    width: auto !important;
    max-width: 8000px;
}

/* td.text-nowrap {
    height: 80px !important;
} */

.message{
    word-wrap: break-word;
    width: 100%;
    height: 30em;
}

@media screen and (max-width: 750px) {
    .scroll {
        overflow-x: auto;
    }
}

/* @media screen and (min-width: 640px) {
    .scroll table{
        width: auto;
    }
} */
