/* h1 {
    white-space: nowrap;
    display: inline-block;
    padding: 0.2em 0.5em;
    margin: 0.4em 0 1em 0;
    font-weight: bold;
    color: #6091d3;
    background: #FFF;
    border: solid 3px #6091d3;
    border-radius: 10px;
} */

/* body {
   background-image: url("../img/b054.jpg"); 
}  */

/* main {
    background-color: #ffffff; margin: 2% 2%; padding: 1% 3%;
    border: solid 3px #6091d3;
    border-radius: 10px;
    border-bottom: solid 6px #5182c4;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32); 
} */

table {
    table-layout: fixed;
    width: auto !important;
    max-width: 8000px;
}

/* td.text-nowrap {
    height: 80px !important;
} */

.message{
    word-break : break-all;
}

@media screen and (max-width: 750px) {
    .scroll {
        overflow-x: auto;
    }
}

/* @media screen and (min-width: 640px) {
    .scroll table{
        width: auto;
    }
} */
